*{
    box-sizing: border-box;
}

#wrapper{
    max-width: 800px;
    margin: 0 auto;
}

#plateau{
    display: flex;
    flex-wrap: wrap;
}

/* ---- ECHECS --------------------------------------------- */

.caseEchec{
    background-color: white;
    width: 12.5%;
    color: black;
    position: relative;
}
.noir{
    background-color: rgb(104, 104, 104);
}
.caseEchec:after{
    content: "";
    display: block;
    padding-bottom: 100%;
    position: relative;
}

.rowEchec{
    display: flex;
    width: 100%;
}
.rowPlateau:nth-of-type(2n){
    justify-content:flex-end;
    flex-direction: row-reverse;
}
/* -------------------------------------------------------- */


/* ---- COMMUN -------------------------------------------- */
.echiquier, .damier{
    display: block;
    width: 100%;
    border: 3px solid black;
    margin: 1em 0;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    
}

/* -------------------------------------------------------- */


/* ---- DAMES --------------------------------------------- */
.caseDames{
    background-color: white;
    width: 10%;
    color: black;
    position: relative;
}
.caseDames:nth-of-type(2n){
    background-color: rgb(104, 104, 104);
    width: 10%;
    color: white;
    position: relative;
}
.caseDames:after{
    content: "";
    display: block;
    padding-bottom: 100%;
    position: relative;
}

/* -------------------------------------------------------- */
